<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- link for font-awesome library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link for stylesheet -->
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>To_Do_List</title>
</head>
    <body class = "gradient-background">
          <navbar class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-around">
            <nav class="navitem">
              <a  href="/"><button class="btn btn-outline-dark rounded-pill px-3 gradient-background " type="button" href="/"><span class="fa-solid fa-calendar-days icon"></span> Today</button>
              </a>
            </nav>
            <nav class="navitem">
              <a href="/work"><button class="btn btn-outline-dark rounded-pill px-3 gradient-background" type="button"><span class="fa-solid fa-briefcase icon"></span>Work</button></a>
            </nav>
          </navbar>
    